<launch>
    


    <!--Args-->
    <arg name="input" default=":default"/>
    <arg name="hmm" default=":default" />
    <arg name="dict" default="$(find ros_test)/asr/robocup.dic"/>
    <arg name="lm" default="$(find ros_test)/asr/robocup.lm"/>
    <arg name="gram" default=":default"/>
    <arg name="grammar" default="$(find ros_test)/asr/robocup.gram"/>
    <arg name="rule" default=":default"/>

   
    <!--LM Node-->
    <node name="asr_control" pkg="pocketsphinx" type="asr_test.py" output="screen">
        <remap from="jsgf_audio" to="sphinx_audio" />
        <param name="lm" value="$(arg lm)"/>
        <param name="dict" value="$(arg dict)"/>
        <param name="hmm" value="$(arg hmm)"/>
        <param name="gram" value="$(arg gram)"/>
        <param name="grammar" value="$(arg grammar)"/>
        <param name="rule" value="$(arg rule)"/>
    </node>

    <!--Audio Input Node -->
    <node name="audio_control" pkg="pocketsphinx" type="send_audio.py">
        <param name="input" value="$(arg input)"/>
    </node>

    <!--Speech Synthesis Node -->
    <node name="speech_synthesis" pkg="sound_play" type="soundplay_node.py">
    </node>

    <!--Voice Controller Node-->
    <node name="asr_controller" pkg="ros_test" type="robocup_asr.py">
    </node>

</launch>
